// Typography

:root {
  --font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-monospace: "IBM Plex Mono", monospace;
  --main-size: 1.06rem;
  --h1-size: 2rem;
  --h2-size: 1.5rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
em,
div,
li,
span,
strong {
  font-family: var(--font-family);
}

.navbar-brand,
.navbar-brand span,
// .nav-item,
.heading-accent,
h1,
h1 span,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amiri";
}

p,
em,
div,
li,
span,
table td {
  font-weight: 400;
}

// blog

.blog-font,
.distill {
  h1 {
    font-weight: bold;
    font-size: var(--h1-size);
  }

  h2 {
    font-weight: bold;
    font-size: var(--h2-size);
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    font-size: var(--main-size);
  }
}

.header-bar {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.4rem;
  }
}

.post-list h3 {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: var(--font-family);
}

strong {
  font-weight: bold;
}

.post {
  .desc,
  .post-description {
    font-size: 1rem;
  }
}

.post-description a {
  color: var(--global-theme-color);
}

table th {
  font-family: var(--font-monospace);
}

.tag-category-list li,
.post-list .post-meta,
.post-list .post-tags {
  font-family: var(--font-monospace) !important;
}

// Profile

@media not (max-width: 576px) {
  .about-article {
    display: flex;
    flex-direction: row-reverse;

    .profile {
      flex: 1;
    }

    .clearfix {
      flex: 2;
    }
  }
}

.about {
  hr {
    margin: 20px;
    border: 0;
    border-bottom: 2px dashed var(--global-divider-color);
  }

  h2 {
    font-size: var(--h2-size);
  }
}

.more-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-subheading {
  font-size: var(--main-size);
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  .heading-accent {
    font-weight: bold;
  }
}

.ul-interests {
  list-style: disc;

  li {
    position: relative;
    padding: 0 15px 4px 3px !important;
  }
}

.ul-edu {
  margin-left: 3.5em;

  p {
    margin: 0;
  }

  .institution {
    font-size: 0.875rem;

    a {
      color: var(--global-text-color-light);
    }

    a:hover {
      color: var(--global-theme-color);
    }
  }

  li {
    position: relative;
    padding: 0 15px 4px 3px !important;
  }

  li:first-child {
    p, a {
      color: var(--global-theme-color);
    }
  }

  li:first-child::before {
    content: "";
    position: absolute;
    height: 2.4em;
    width: 2.4em;
    background-image: url(/assets/img/icons/kyudai.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -2.85em;
    margin-top: 0.25em;
  }

  li:nth-child(2)::before {
    content: "";
    position: absolute;
    height: 2.4em;
    width: 2.4em;
    background-image: url(/assets/img/icons/bhu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -2.85em;
    margin-top: 0.25em;
  }

  li:nth-child(3)::before {
    content: "";
    position: absolute;
    height: 2.4em;
    width: 2.4em;
    background-image: url(/assets/img/icons/cotton.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -2.5em;
    margin-top: 0.25em;
  }
}

.profile {
  .more-info {
    text-align: center;

    p {
      font-family: var(--font-monospace) !important;
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 576px) {
  .about .clearfix {
    margin-bottom: 1rem;
  }

  .profile {
    .social {
      margin-bottom: 1rem;
    }

    img {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

.heading-accent {
  color: var(--global-theme-color);
}

// Social (bottom)

.social {
  .contact-icons {
    font-size: 2rem;
  }
}

// Rouge Color Customization

pre {
  white-space: pre-wrap;

  span {
    font-family: var(--font-monospace) !important;
  }
}

div .highlight span {
  font-family: var(--font-monospace) !important;
}

// bibliography

.publications {
  h2.bibliography {
    font-size: var(--h2-size);
    color: var(--global-text-color);
    // border-top: 2px dashed var(--global-divider-color);
    border: none;
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: left;
    text-transform: lowercase;

    span {
      font-size: var(--h2-size);
    }
  }
}
.projects {
  h2.category {
    font-size: var(--h2-size);
    color: var(--global-text-color);
    // border-top: 2px dashed var(--global-divider-color);
    border: none;
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: left;
    text-transform: lowercase;

    span {
      font-size: var(--h2-size);
    }
  }
}
